Repository ftinx/webserv, pull requests merged in 2021-03, with the labels that each got.

#48 [FEAT] add feature response, server
  Makefile
  includes/Response.hpp
  includes/Server.hpp
  srcs/Response.cpp
  srcs/Response.hpp
  srcs/Server.cpp
  srcs/main.cpp
Labels: 10 minute task, Response, Server

#52 [FEAT] add checkBlankLine, getDateTimestamp
  includes/Utils.hpp
  srcs/Utils.cpp
Labels: 10 minute task, utils

#53 [FEAT] add feature Server Method
  includes/Server.hpp
  srcs/Response.cpp
  srcs/Server.cpp
  srcs/main.cpp
Labels: 10 minute task, Server

#56 [FEAT] add feature www folder
  srcs/Response.cpp
  www/errors/error_page.html
  www/favicon.ico
  www/imgs/favicon.jpg
  www/index.html
Labels: 10 minute task, www

#57 [FEAT] add feature methodTRACE, Server
  .vscode/settings.json
  includes/Response.hpp
  includes/Server.hpp
  srcs/Response.cpp
  srcs/Server.cpp
Labels: 10 minute task, Response, Server

#58 [FEAT] add fileToString func.
  ftinx_sample.conf
  includes/HttpConfig.hpp
  includes/HttpConfigLocation.hpp
  includes/HttpConfigServer.hpp
  includes/Utils.hpp
  srcs/HttpConfig.cpp
  srcs/HttpConfigLocation.cpp
  srcs/HttpConfigServer.cpp
  srcs/Utils.cpp
Labels: 10 minute task, utils

#63 [FEAT] add request message #59
  includes/Request.hpp
  srcs/Request.cpp
  srcs/Utils.cpp
Labels: 10 minute task, Request

#62 [REFACTOR] runServer
  includes/Response.hpp
  includes/Server.hpp
  srcs/Response.cpp
  srcs/Server.cpp
Labels: 10 minute task, Request, Server

#66 [Server] FD_ZERO 추가 및 setting 파일 설정
  .vscode/settings.json
  includes/Response.hpp
  includes/Utils.hpp
  killport.sh
  srcs/Response.cpp
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: 10 minute task, Server

#68 [FEAT] add Response Util
  includes/Response.hpp
  includes/Utils.hpp
  srcs/Response.cpp
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: 10 minute task, Response

#70 [FEAT] create Request::getMessage()
  includes/Request.hpp
  includes/Server.hpp
  includes/Uri.hpp
  srcs/Request.cpp
  srcs/Server.cpp
  srcs/Uri.cpp
  srcs/main.cpp
Labels: Request, Server

#72 [FIX] config file parsing
  includes/HttpConfig.hpp
  includes/HttpConfigLocation.hpp
  includes/HttpConfigServer.hpp
  srcs/HttpConfig.cpp
  srcs/HttpConfigLocation.cpp
  srcs/HttpConfigServer.cpp
Labels: Config File

#73 [FEAT] add feature html
  .DS_Store
  www/index.html
  www/style.css
Labels: 10 minute task, Response

#74 [HTML] add POST request
  .DS_Store
  www/index.html
  www/script.js
  www/style.css
Labels: 10 minute task, Response

#78 [REFACTOR] change method from string to enum #37
  includes/Request.hpp
  includes/Server.hpp
  srcs/Request.cpp
Labels: 10 minute task, utils

#79 [FEAT] add response status method
  includes/Server.hpp
  srcs/Server.cpp
Labels: 10 minute task, Response

#80 [FEAT] add response statuc code first line
  .DS_Store
  includes/Server.hpp
  srcs/Response.cpp
Labels: 10 minute task, Request, Response, Server

#82 [FEAT] branch sendResponse
  includes/Server.hpp
  srcs/Server.cpp
Labels: 10 minute task

#83 [FEAT] add parseErrorResponse, Server
  includes/Server.hpp
  srcs/Server.cpp
  www/index.html
Labels: 10 minute task, Response, Server

#93 [FIX] getMessage error - get until Content-Length #89
  .DS_Store
  includes/Request.hpp
  includes/Utils.hpp
  srcs/Request.cpp
  www/test.test
Labels: Request, bug

#95 [FIX] checkCgi & isValidFilePath & isValidDirPath #90 #94
  includes/Request.hpp
  includes/Utils.hpp
  srcs/Request.cpp
  srcs/Uri.cpp
  srcs/Utils.cpp
Labels: CGI, utils

#97 [FEAT] add Utils strdup, getMethodType
  includes/Utils.hpp
  srcs/Utils.cpp
Labels: utils

#98 [FEAT] add FD_xxx to ft::fd_xxx (#96)
  .DS_Store
  includes/Utils.hpp
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: 10 minute task, Server

#100 [FIX] body cutting error
  includes/Server.hpp
  srcs/Request.cpp
  srcs/Server.cpp
  www/test.test
Labels: Request

#101 [FEAT] add Utils checkValidFileExtension
  includes/Utils.hpp
  srcs/Utils.cpp
Labels: utils

#102 [FEAT] add timeout, select, server
  includes/Request.hpp
  srcs/Server.cpp
Labels: Server

#104 [FEAT] add makeCgiEnvp relevant functions
  includes/Request.hpp
  includes/Server.hpp
  includes/Uri.hpp
  srcs/Request.cpp
  srcs/Server.cpp
  srcs/Uri.cpp
Labels: CGI

#106 [FEAT] add ServerManager (#106)
  Makefile
  includes/HttpConfigLocation.hpp
  includes/HttpConfigServer.hpp
  includes/Server.hpp
  includes/ServerManager.hpp
  srcs/HttpConfig.cpp
  srcs/HttpConfigLocation.cpp
  srcs/HttpConfigServer.cpp
  srcs/Server.cpp
  srcs/ServerManager.cpp
  srcs/main.cpp
Labels: ServerManager

#111 [FEAT] update path #110
  .DS_Store
  srcs/Server.cpp
  srcs/Uri.cpp
  srcs/Utils.cpp
Labels: 10 minute task, Request, utils

#113 [FEAT] add route func, Server
  .gitignore
  ftinx_sample.conf
  includes/Server.hpp
  includes/ServerManager.hpp
  killport.sh
  srcs/Response.cpp
  srcs/Server.cpp
  srcs/ServerManager.cpp
  www/errors/default_error.html
Labels: Server

#115 [FIX] getDateTimestamp err #112
  srcs/Utils.cpp
Labels: bug, utils

#117 [FEAT] add route path, post
  includes/Server.hpp
  srcs/Server.cpp
  srcs/Uri.cpp
  www/index.html
Labels: Server

#119 [FEAT] update makeCgiEnvp() except auth related values
  includes/Server.hpp
  srcs/Request.cpp
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: CGI

#120 [FEAT] add HttpConfig* checkFileExist, checkDirExist #109
  includes/HttpConfig.hpp
  includes/HttpConfigLocation.hpp
  includes/HttpConfigServer.hpp
  srcs/HttpConfig.cpp
  srcs/HttpConfigLocation.cpp
  srcs/HttpConfigServer.cpp
Labels: Config File

#121 [FIX] CGI Route rule, Server
  includes/Response.hpp
  includes/Server.hpp
  srcs/Response.cpp
  srcs/Server.cpp
  www/index.html
Labels: Server

#123 [REFACTOR] server 리펙토링 (#123)
  srcs/HttpConfigServer.cpp
  srcs/Server.cpp
  srcs/ServerManager.cpp
  www/errors/default_error.html
  www/errors/style.css
Labels: 10 minute task, Server

#124 [FEAT] Options Method #28
  ftinx_sample.conf
  includes/Request.hpp
  includes/Server.hpp
  includes/Utils.hpp
  srcs/Request.cpp
  srcs/Server.cpp
  srcs/ServerManager.cpp
  srcs/Utils.cpp
Labels: Server

#128 [FEAT] 눈물의 Options 원복
  includes/Request.hpp
  includes/Server.hpp
  includes/Utils.hpp
  srcs/Request.cpp
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: Server

#133 [FIX] body parse bug #132
  srcs/Request.cpp
  srcs/Server.cpp
  srcs/ServerManager.cpp
Labels: 10 minute task, Request, bug

#135 [FEAT] add getMethod
  ftinx_sample.conf
  includes/Server.hpp
  srcs/Server.cpp
Labels: 10 minute task, Response, Server

#138 [FEAT] add makeResponseMessage, server
  ftinx_sample_holee.conf
  includes/Response.hpp
  includes/Server.hpp
  includes/ServerManager.hpp
  srcs/Response.cpp
  srcs/Server.cpp
  srcs/ServerManager.cpp
  srcs/Utils.cpp
Labels: 10 minute task, Response, Server, ServerManager

#143 [FEAT] add parseMimeTypes, fix fileToString
  includes/HttpConfig.hpp
  includes/Utils.hpp
  mime.types
  srcs/HttpConfig.cpp
  srcs/Utils.cpp
Labels: utils

#146 [FEAT] add mime_types, Server
  includes/HttpConfig.hpp
  includes/Server.hpp
  includes/ServerManager.hpp
  srcs/HttpConfig.cpp
  srcs/Server.cpp
  srcs/ServerManager.cpp
Labels: 10 minute task, Server

#149 [FEAT] #148 issue handling
  srcs/Server.cpp
Labels: Server

#154 [FEAT] response body path default, response
  srcs/Response.cpp
  srcs/Server.cpp
Labels: Response

#156 [FIX] chunked message get error
  includes/Request.hpp
  srcs/Request.cpp
Labels: Request, bug

#159 [FEAT] update getMethod, add makeAutoindexPage
  ftinx_sample.conf
  includes/Server.hpp
  killport.sh
  srcs/Server.cpp
Labels: Server

#160 [FEAT] if else to switch case
  .vscode/settings.json
  ftinx_sample_yechoi_cluster.conf
  srcs/Server.cpp
Labels: 10 minute task, Server

#161 [ADD] head
  ftinx_sample_holee.conf
  includes/Response.hpp
  includes/Server.hpp
  srcs/Response.cpp
  srcs/Server.cpp
Labels: Server

#162 [FEAT] update ServerManager
  includes/ServerManager.hpp
  srcs/ServerManager.cpp
  srcs/main.cpp
Labels: Config File

#163 [REFACTOR] find config route, SERVER
  includes/Server.hpp
  srcs/Server.cpp
Labels: Server

#164 [FEAT] add methodPUT #151
  srcs/Request.cpp
  srcs/Server.cpp
Labels: Method

#165 [FEAT] add m_getLocationAutoIndex, Server
  includes/Server.hpp
  srcs/Server.cpp
Labels: Server

#166 [FIX] checkHttpConfigFilePath for check all path, Server
  srcs/Server.cpp
Labels: Server

#168 [FEAT] update Config -> default root path setting, update mime.types parse
  includes/HttpConfigLocation.hpp
  includes/HttpConfigServer.hpp
  srcs/HttpConfig.cpp
  srcs/HttpConfigLocation.cpp
  srcs/HttpConfigServer.cpp
  srcs/Utils.cpp
Labels: Server

#170 [FIX] perror to std::cout
  srcs/Server.cpp
  srcs/main.cpp
Labels: Server

#172 [FEAT] add Cache (lastmodified) (#129)
  includes/Utils.hpp
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: Server, utils

#173 [FEAT] add resetRequest() #171
  includes/Request.hpp
  includes/Server.hpp
  srcs/Request.cpp
  srcs/Server.cpp
Labels: Server

#174 [FEAT] update getMethod
  ftinx_sample.conf
  includes/Server.hpp
  srcs/Server.cpp
Labels: Server

#176 [FEAT] update methodOPTIONS, DELETE, PUT using reset path
  ftinx_sample_yechoi_cluster.conf
  includes/Server.hpp
  srcs/Request.cpp
  srcs/Server.cpp
  tests/put_test/file_should_exist_after
Labels: Method

#179 [FEAT] add makeErrorPage
  includes/Server.hpp
  includes/Utils.hpp
  srcs/Response.cpp
  srcs/Server.cpp
  srcs/Utils.cpp
  www/errors/default_error.html
Labels: Server

#180 [REFACTOR] response message
  includes/Server.hpp
  srcs/Server.cpp
Labels: Server

#181 [FEAT] add allow_method, content_location, makeResponseMessage
  includes/Server.hpp
  srcs/Server.cpp
Labels: Server

#182 [FEAT] update makeErrorPage
  ftinx_sample.conf
  includes/Server.hpp
  includes/ServerManager.hpp
  srcs/Response.cpp
  srcs/Server.cpp
  srcs/ServerManager.cpp
  www/errors/default_error.html
Labels: Server

#183 [REFACTOR] response etc.
  ftinx_sample.conf
  includes/Response.hpp
  srcs/Response.cpp
  srcs/Server.cpp
  www/errors/default_error.html
Labels: Response, Server

#184 [FEAT] updated logic before executeCgi() #39
  ftinx_sample_yechoi_cluster.conf
  includes/Request.hpp
  srcs/Request.cpp
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: CGI, Request

#185 [FEAT] add headers, Server (#185)
  includes/Server.hpp
  srcs/Request.cpp
  srcs/Response.cpp
  srcs/Server.cpp
Labels: Server

#186 [FEAT] add jpg
  ftinx_sample_holee2.conf
  srcs/Server.cpp
  www/index.html
  www/script.js
Labels: Server

#188 [REFACTOR] Response, Server / .cpp .hpp (#188)
  includes/Response.hpp
  includes/Server.hpp
  includes/Utils.hpp
  srcs/Response.cpp
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: Response, Server

#189 [FEAT] change recv, send
  srcs/Request.cpp
  srcs/Server.cpp
Labels: Server

#191 [FEAT] ahsa cgi dongzak heata
  YoupiBanane/youpi.bad_extension
  ftinx_sample_holee.conf
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: Server

#192 [FEAT] add errno
  srcs/Request.cpp
  srcs/Server.cpp
Labels: Server

#193 [FIX] select error
  cgi.sh
  includes/Utils.hpp
  srcs/Request.cpp
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: bug

#194 [FIX] fix filetoString, methodPUT
  ftinx_sample_yechoi_cluster.conf
  srcs/Server.cpp
  srcs/Utils.cpp
Labels: utils
